<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SwiftOtter\GiftCard\Api\Data\GiftCardInterface" type="SwiftOtter\GiftCard\Model\GiftCard" />
    <preference for="SwiftOtter\GiftCard\Api\Data\GiftCardUsageInterface" type="SwiftOtter\GiftCard\Model\GiftCardUsage" />
    <preference for="SwiftOtter\GiftCard\Api\Data\GiftCardSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />

    <virtualType name="SwiftOtter\GiftCard\Model\ResourceModel\Product\Indexer\Price\GiftCardProductPrice"
                 type="Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\SimpleProductPrice">
        <arguments>
            <argument name="productType" xsi:type="const">SwiftOtter\GiftCard\Model\Type\GiftCard::TYPE_CODE</argument>
        </arguments>
    </virtualType>
</config>
